.lbSettingsReport__message {
  margin-top: 2em;
}

.lbSettingsReport__preformatted {
  border: 1px solid #c8c8c8;
  max-height: 80vh;
  overflow: auto;
  padding: 20px;
}

.lbSettingsReport__diffTable .diff-context {
  font-family: monospace;
  font-size: 1.1em;
  opacity: 0.5;
  white-space: pre-wrap;
}

.lbSettingsReport__diffTable .diff-addedline {
  color: #099900;
  font-weight: 600;
  opacity: 1;
}

.lbSettingsReport__diffTable .diff-deletedline {
  color: #990000;
  font-weight: 600;
  opacity: 1;
}

.lbSettingsReport__table .even {
  background: #fbfbfb;
}

.lbSettingsReport__table td {
  vertical-align: top;
}

.lbSettingsReport__table td p {
  margin-top: 0;
}
