{#
/**
 * @file
 * Default theme implementation to display layout builder override section.
 *
 * Available variables:
 * - sections: Array of sections to output.
 *
 * @ingroup themeable
 */
#}

{% if sections is not empty %}
  <ol>
  {% for section in sections %}
    <li>
      <strong>{{ section.label|default('Untitled') }}</strong>
      ({{ section.layout_id}}, {{ '@ct Components'|t({'@ct': section.components|default(0)}) }})
    </li>
  {% endfor %}
  </ol>

{% else %}
  {{ 'No sections are defined.'|t }}
{% endif %}
