{#
/**
 * @file
 * Default theme implementation to display layout builder override summary.
 *
 * Available variables:
 * - bundle: The bundle of the entity.
 * - id: The id of the entity.
 * - language: The human-readable language of the entity.
 * - published: The human-readable publish status of the entity.
 * - title: The title of the entity. May be a link, if entity has one.
 *
 * @ingroup themeable
 */
#}

<p><strong>{{ title }}</strong></p>
<ul>
<li>{{ '<strong>Entity ID:</strong> @id'|t({'@id': id}) }}</li>
<li>{{ '<strong>Bundle:</strong> @bundle'|t({'@bundle': bundle}) }}</li>
<li>{{ '<strong>Language:</strong> @language'|t({'@language': language}) }}</li>
<li>{{ '<strong>Published:</strong> @published'|t({'@published': published}) }}</li>
</ul>
